<div *ngIf="nav" class="container-fluid bg-light nav-tabs">
  <div class="container">
    <nav class="navbar navbar-primary"  >
        <a href="" class="navbar-brand">Chatt</a>
        <ul class="navbar-nav nav">
          <li class="">
            <a routerLink="/" >Home</a>
          </li>
          <li class="">
            <a  href="" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="">
            <a href="#" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ul>
    </nav>
  </div>
</div>
