<div class="container my-5 mx-0">
  <div class="row">
    <div class="col-11 col-md-6 mx-2 mx-md-5 my-5 home__intro animate__animated animate__zoomIn animate__slow">
      The most popular chatting engine, right HERE<br>
      Join 10 million+ people using Chatt. <br><br>
      Start communicating with your love ones. Enjoy!!! <br><br>
      <button (click)="routToRegister()" class="btn btn-primary btn-lg">Start Now</button>
    </div>
    <div class="col-8 mx-0 mx-md-0 col-md-4 image">
      <img src="/assets/img/pChat.png" alt="">
    </div>
  </div>
  
</div>
